html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* *{
	border: 2px solid yellow !important;
} */

body{
    box-sizing: border-box;
    background-color: #f4f4f4;  
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1650px;
    margin: 0 auto;
}

.burger__menu {
    display: none;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #f8f8f8;
    width: 200px;
    border: 1px solid #ddd;
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + label + .menu {
    display: block;
}



.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper .logo img{
    max-height: 100px;
    max-width: 230px;
}

.header__wrapper .nav__wrapper nav ul{
    display: flex;
    gap: 65px;
    list-style: none;
}

.header__wrapper .nav__wrapper nav ul li a{
    font-size: 23px;
    color: #000000;
    text-decoration: none;
}


.contact__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact__wrapper .title{
    font-size: 50px;
    font-weight: 600;
}

.contact__wrapper .content{
    display: flex;
    gap: 50px;
}

.contact__wrapper .content .write{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.write__title,.info__title{
    font-size: 35px;
    padding: 15px;
    font-weight: 600;
}


.contact__wrapper .content .write .form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__wrapper .content .write .form form input ,textarea{
    width: 500px;
    max-width: 100%;
    height: 50px;
    font-size: 20px;
}

.contact__wrapper .content .write textarea{
    height: 200px;
}

.contact__wrapper .content .info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #0069f7;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: #f4f4f4;
    max-width: 100%;
}


.contact__wrapper img {
    width: 30px;
    height: 30px;
}

.contact__wrapper .info .about{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contact__wrapper .info .about .block{
    display: flex;
    gap: 10px;
    font-size: 25px;
}

.contact__wrapper .info .links{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.contact__wrapper .submit{
    background-color: #0069f7;
    color: #f4f4f4;
}

@media only screen and (max-width: 1673px) {

    .container{
        width: 95%;
    }

    .nav__wrapper {
        display: block; 
    }

    .burger__menu {
        display: none;
    }
  }

  
  @media only screen and (max-width: 1036px) {
    .contact__wrapper .content{
        display: flex;
        flex-direction: column;
    }

    .write,.info{
        padding-bottom: 40px;
    }
  }

  @media only screen and (max-width: 950px) {
    .container{
        width: 95%;
    }
    .nav__wrapper {
        display: none; 
    }

    .burger__menu {
        display: block; 
    }

    .menu-icon {
        display: block;
    }
  }

  
  @media only screen and (max-width: 523px) {

    .container{
        width: 100%;
    }
    .contact__wrapper .content .write .form form input ,textarea{
        font-size: 20px;
        width: 100%;
    }

    

  }


  @media only screen and (max-width: 423px) {
    .contact__wrapper .content .write .input{
        .contact__wrapper .content .info{
            max-width: 100%;
            font-size: 20px;
            margin-right: 10px;
            color: red;
        }

    }

    
  } 



